
.text-uppercase {
    background-color:  #27374D;
    border-radius: 25px;
    color: #FFFFFF;
    margin: 2%; 
    padding: 2px; 
}

.error-container {
    background-color: #9DB2BF;
    margin-top: 0;
    padding-bottom: 5px;
    height: 100%; 
    width: 100%; 
}
.img-error {
    border-radius: 20px;
  
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none; 
    box-shadow: 0 0 10px 100px rgba(0, 0, 0, 0.2); /* Borde difuminado con un desenfoque de 10px y una expansión de 5px */
}